<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/result' method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p> 
                {% endfor %}
            {% endif %}
        {% endwith %}               
        <p>Your Name: <input type="text" name='name'></p>
        <p>Dojo Location: </p>
        <select name="location" method="GET" action='/'>
            {% for location in location %}
            <option value='{{ location }}' selected>{{ location }}</option>
            {% endfor %}    
        </select>
        <p>Favorite Language: </p>
        <select name="language" method="GET" action='/'>
            {% for language in language %}
            <option value='{{ language }}' selected>{{ language }}</option>
            {% endfor %}    
        </select>
        <p>Comment: </p>
        <textarea input type="text" id="commentbox" name="comment"></textarea>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>